@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
  h1 {
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
  }
  a {
    color: white;
  }
  section {
    color: black;
    .myBarChart {
      background-color: white;
    }
    svg {
      &:nth-child(1) {
        display: none;
      }
      display: block;
      margin: auto;
      margin: 50px auto 50px auto;
      background-color: white;
      // path {
      //   fill: grey;
      //   stroke: black;
      //   stroke-opacity: 0.4;
      // }
      // path:hover {
      //   fill: orangered;
      // }
      .rectangle:hover {
        opacity: 0.5;
      }
      .bar {
        fill: Darkmagenta;
      }
      // g {
      //   width: 600%;
      //   height: 600%;
      // }
    }
  }
}
