@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
  h1 {
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
  }
  a {
    color: white;
  }
  section {
    color: black;
    .myBarChart {
      background-color: white;
    }
    svg {
      &:first-of-type {
        display: none;
      }
      display: block;
      margin: auto;
      margin: 50px auto 50px auto;
      background-color: white;
      rect {
        fill: #6700e5;
        opacity: 0.6;
        rx: 1;
        &:hover {
          opacity: 1;
        }
      }
      text {
        font-size: 0.825rem;
        color: grey;
      }
      .graphTitle {
        font-size: 1.75rem;
        font-weight: 700;
      }
      .axisLabel {
        font-weight: 700;
      }
      circle {
        fill: red;
        opacity: 0.5;
      }
      circle:hover {
        opacity: 1;
      }
    }

    .extraText {
      font-size: 16px;
      text-align: right;
    }
    .lollyLine {
      opacity: 0.8;
      stroke: grey;
      stroke-width: 2px;
    }
    .lollyCircle {
      fill: steelblue;
      opacity: 0.8;
      stroke: black;
    }

    div {
      margin-top: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    label {
      color: white;
    }
    // select {
    //   width: 200px;
    //   font-size: 1.2rem;
    //   option {
    //     font-size: 1rem;
    //   }
    // }

    // form {
    //   position: fixed;
    //   z-index: 2;
    //   margin: 0 auto 0 auto;
    //   top: 50%;
    //   bottom: 50%;
    //   left: 1rem;
    //   display: flex;
    //   flex-direction: column;
    //   flex-wrap: wrap;
    //   align-items: center;
    //   justify-content: center;
    //   height: 200px;
    //   width: 280px;
    //   border-radius: 4px;
    //   background-color: hotpink;
    //   button {
    //     width: 250px;
    //     height: 25px;
    //     text-align: center;
    //   }
    //}
  }
}
