@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  margin: 0px;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
  h1 {
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
  }
  a {
    color: white;
  }
  section {
    width: 900px;
    height: 500px;
    margin: 0 auto;
    svg {
      background-color: white;
      path {
        fill: grey;
        stroke: black;
        stroke-opacity: 0.4;
      }
      path:hover {
        fill: orangered;
      }
      g {
        width: 600%;
        height: 600%;
      }
    }
  }
}
